:root {
    --primary-red: hsl(0, 78%, 62%);
    --primary-cyan: hsl(180, 62%, 55%);
    --primary-orange: hsl(34, 97%, 64%);
    --primary-blue: hsl(212, 86%, 64%);

    --neutral-vdb: hsl(234, 12%, 34%);
    --neutral-gb: hsl(229, 6%, 66%);
    --neutral-vlg: hsl(0, 0%, 98%);


    --fs-15: 0.9rem;

    --ff-pop: 'Poppins', sans-serif;

    --fw-200: 200;
    --fw-400: 400;
    --fw-600: 600;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr 1.2fr; */
    min-height: 100vh;
    background-color: var(--neutral-vlg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.8fr 1.2fr 1.2fr;
    grid-template-areas:
    'con con con'
    'sup tbl cal'
    'sup kar cal';
}

.content {
    display: grid;
    grid-area: con;
    /* grid-column-start: 1;
    grid-column-end: 4; */
    text-align: center;
    padding-left: 26rem;
    padding-top: 0.5rem;
    padding-right: 26rem;
    padding-bottom: 2rem;
}

.content .delivery {
    color: var(--neutral-gb);
    font-family: var(--ff-pop);
    font-weight: var(--fw-400);
}

.content .technology {
    font-family: var(--ff-pop);
    font-weight: var(--fw-600);
}

.content .ai {
    font-family: var(--ff-pop);
    font-size: var(--fs-15);
    font-weight: var(--fw-200);
    color: var(--neutral-gb);
}

.supervisor {
    display: grid;
    grid-area: sup;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    padding-top: 8rem;
    padding-left: 3rem;
    padding-right: 0;
    padding-bottom: 8rem;
}

.super-card {
    border: 4px solid hsl(0, 0%, 90%);
    border-top-color: var(--primary-cyan);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 1rem 1rem 2rem 0.3rem hsl(0, 0%, 90%);
}

.img-sup {
    transform: translate(16rem, 2rem);
}

.team-builder {
    display: grid;
    grid-area: tbl;
    /* grid-row-start: 2;
    grid-row-end: 3; */
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
}

.tb-card {
    border: 4px solid hsl(0, 0%, 90%);
    border-top-color: var(--primary-red);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 1rem 1rem 2rem 0.3rem hsl(0, 0%, 90%);
}

.img-tb {
    transform: translate(16rem, 2rem);
}

.karma {
    display: grid;
    grid-area: kar;
    /* grid-row-start: 3;
    grid-row-end: 4; */
    padding-top: 0.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-bottom: 0.5rem;
}

.karma-card {
    border: 4px solid hsl(0, 0%, 90%);
    border-top-color: var(--primary-orange);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 1rem 1rem 2rem 0.3rem hsl(0, 0%, 90%);
}

.img-kar {
    transform: translate(16rem, 2rem);
}

.calculator {
    display: grid;
    grid-area: cal;
    /* grid-row-start: 2;
    grid-row-end: 4; */
    padding-top: 8rem;
    padding-left: 0;
    padding-right: 3rem;
    padding-bottom: 8rem;
}

.cal-card {
    border: 4px solid hsl(0, 0%, 90%);
    border-top-color: var(--primary-blue);
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-radius: 0.5rem;
    background-color: white;
    padding: 1.5rem;
    box-shadow: 1rem 1rem 2rem 0.3rem hsl(0, 0%, 90%);
}

.img-calc {
    transform: translate(16rem, 2rem);

}

h2 {
    padding-bottom: 1rem;
}

.para {
    font-family: var(--ff-pop);
    font-size: var(--fs-15);
    color: var(--neutral-gb);
}

@media only screen and (max-width: 70em) {
    .container {
        grid-template-columns: 1fr;
        grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr 1fr;
        grid-template-areas:
        'con'
        'con'
        'sup'
        'tbl'
        'kar'
        'cal';
    }

    .content {
        padding-left: 12rem;
        padding-top: 2rem;
        padding-right: 12rem;
        padding-bottom: 0.5rem;
    }
    
    .supervisor {
        display: grid;
        grid-area: sup;
        /* grid-row-start: 2;
        grid-row-end: 4; */
        padding: 0.5rem;
    }
    
    .super-card {
        border: 4px solid hsl(0, 0%, 90%);
        border-top-color: var(--primary-cyan);
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-radius: 0.5rem;
        background-color: white;
        padding: 1.5rem;
        align-items: center;
        max-width: 25rem;
        margin: 0 auto;
        box-shadow: 1rem 1rem 2rem 0.3rem hsl(0, 0%, 90%);
    }
    
    .img-sup {
        transform: translate(17rem, 2rem);
    }
    
    .team-builder {
        display: grid;
        grid-area: tbl;
        /* grid-row-start: 2;
        grid-row-end: 3; */
        padding: 0.5rem;
    }
    
    .tb-card {
        border: 4px solid hsl(0, 0%, 90%);
        border-top-color: var(--primary-red);
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-radius: 0.5rem;
        background-color: white;
        padding: 1.5rem;
        max-width: 25rem;
        margin: 0 auto;
        box-shadow: 1rem 1rem 2rem 0.3rem hsl(0, 0%, 90%);
    }
    
    .img-tb {
        transform: translate(17rem, 1rem);
    }
    
    .karma {
        display: grid;
        grid-area: kar;
        /* grid-row-start: 3;
        grid-row-end: 4; */
        padding: 0.5rem;
    }
    
    .karma-card {
        border: 4px solid hsl(0, 0%, 90%);
        border-top-color: var(--primary-orange);
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-radius: 0.5rem;
        background-color: white;
        padding: 1.5rem;
        max-width: 25rem;
        margin: 0 auto;
        box-shadow: 1rem 1rem 2rem 0.3rem hsl(0, 0%, 90%);
    }
    
    .img-kar {
        transform: translate(17rem, 2rem);
    }
    
    .calculator {
        display: grid;
        grid-area: cal;
        /* grid-row-start: 2;
        grid-row-end: 4; */
        padding: 0.5rem;
    }
    
    .cal-card {
        border: 4px solid hsl(0, 0%, 90%);
        border-top-color: var(--primary-blue);
        border-left-color: transparent;
        border-right-color: transparent;
        border-bottom-color: transparent;
        border-radius: 0.5rem;
        background-color: white;
        padding: 1.5rem;
        max-width: 25rem;
        margin: 0 auto;
        box-shadow: 1rem 1rem 2rem 0.3rem hsl(0, 0%, 90%);
    }
    
    .img-calc {
        transform: translate(17rem, 1rem);
    
    }
    
    h2 {
        padding-bottom: 1rem;
    }
    
    .para {
        font-family: var(--ff-pop);
        font-size: var(--fs-15);
        color: var(--neutral-gb);
    }
}